src/schema/xsd/listPersName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="listPersName">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="persName" type="xsd:string"/>
        <xsd:element name="persSurname" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
