Materials/XSLT-9780596527211-master/XSLT-2E-examples/AppendixD/person-all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- person-all.xsd -->
<xs:schema 
  xmlns="http://www.oreilly.com/xslt"
  targetNamespace="http://www.oreilly.com/xslt"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="person">
    <xs:complexType>
      <xs:all>
        <xs:element ref="name"/>
        <xs:element ref="age"/>
        <xs:element ref="birthday"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="name" type="xs:string"/>
  <xs:element name="birthday" type="xs:date" nillable="true"/>
  <xs:element name="age" type="xs:positiveInteger"/>

</xs:schema>
