src/schema/dtd/tei_tite.dtd


<!--
DTD generated from ODD source 2018-07-23T09:27:04Z. Version 1.1 — September 2011.This material is dual-licensed.
[http://creativecommons.org/licenses/by-sa/3.0/] Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2013 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
TEI Edition: Version 3.4.0. Last updated on
	23rd July 2018, revision 1fa0b54
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.4.0/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.point ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.xpath ' CDATA' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % att.global.responsibility.attributes '
 %att.global.responsibility.attribute.cert;
 %att.global.responsibility.attribute.resp;'> 
<!ENTITY % att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>
<!ENTITY % att.global.rendition.attributes '
 %att.global.rendition.attribute.rend;
 %att.global.rendition.attribute.style;'> 
<!ENTITY % att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % att.global.source.attributes '
 %att.global.source.attribute.source;'> 
<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % att.global.linking.attributes '
 %att.global.linking.attribute.corresp;
 %att.global.linking.attribute.synch;
 %att.global.linking.attribute.sameAs;
 %att.global.linking.attribute.copyOf;
 %att.global.linking.attribute.next;
 %att.global.linking.attribute.prev;
 %att.global.linking.attribute.exclude;
 %att.global.linking.attribute.select;'> 
<!ENTITY % att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>
<!ENTITY % att.global.facs.attributes '
 %att.global.facs.attribute.facs;'> 
<!ENTITY % att.global.change.attribute.change '
change CDATA  #IMPLIED'>
<!ENTITY % att.global.change.attributes '
 %att.global.change.attribute.change;'> 
<!-- end of predeclared classes -->

<!ENTITY % att.ascribed.directed.attribute.toWhom '
toWhom CDATA  #IMPLIED'>
<!ENTITY % att.ascribed.directed.attributes '
 %att.ascribed.directed.attribute.toWhom;'> 
<!ENTITY % att.written.attribute.hand '
hand %teidata.pointer;  #IMPLIED'>
<!ENTITY % att.written.attributes '
 %att.written.attribute.hand;'> 
<!ENTITY % att.cReferencing.attribute.cRef '
cRef %teidata.text;  #IMPLIED'>
<!ENTITY % att.cReferencing.attributes '
 %att.cReferencing.attribute.cRef;'> 
<!ENTITY % att.datable.w3c.attribute.when '
when %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.from '
from %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.to '
to %teidata.temporal.w3c;  #IMPLIED'>
<!ENTITY % att.datable.w3c.attributes '
 %att.datable.w3c.attribute.when;
 %att.datable.w3c.attribute.from;
 %att.datable.w3c.attribute.to;'> 
<!ENTITY % att.datable.attribute.calendar '
calendar %teidata.pointer;  #IMPLIED'>
<!ENTITY % att.datable.attributes '%att.datable.w3c.attributes;
 %att.datable.attribute.calendar;'> 
<!ENTITY % att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % att.declarable.attributes '
 %att.declarable.attribute.default;'> 
<!ENTITY % att.fragmentable.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % att.fragmentable.attributes '
 %att.fragmentable.attribute.part;'> 
<!ENTITY % att.docStatus.attribute.status '
status %teidata.enumerated;  "draft" '>
<!ENTITY % att.docStatus.attributes '
 %att.docStatus.attribute.status;'> 
<!ENTITY % att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % att.global.responsibility.attributes '
 %att.global.responsibility.attribute.cert;
 %att.global.responsibility.attribute.resp;'> 
<!ENTITY % att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>
<!ENTITY % att.global.rendition.attributes '
 %att.global.rendition.attribute.rend;
 %att.global.rendition.attribute.style;'> 
<!ENTITY % att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % att.global.source.attributes '
 %att.global.source.attribute.source;'> 
<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n %teidata.text;  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang %teidata.language;  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % att.global.attributes '%att.global.rendition.attributes;%att.global.linking.attributes;%att.global.facs.attributes;%att.global.change.attributes;%att.global.responsibility.attributes;%att.global.source.attributes;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlspace;'> 
<!ENTITY % att.media.attribute.width '
width %teidata.outputMeasurement;  #IMPLIED'>

<!ENTITY % att.media.attribute.height '
height %teidata.outputMeasurement;  #IMPLIED'>

<!ENTITY % att.media.attribute.scale '
scale %teidata.numeric;  #IMPLIED'>
<!ENTITY % att.media.attributes '
 %att.media.attribute.width;
 %att.media.attribute.height;
 %att.media.attribute.scale;'> 
<!ENTITY % att.resourced.attribute.url '
url %teidata.pointer;  #REQUIRED'>
<!ENTITY % att.resourced.attributes '
 %att.resourced.attribute.url;'> 
<!ENTITY % att.notated.attribute.notation '
notation %teidata.enumerated;  #IMPLIED'>
<!ENTITY % att.notated.attributes '
 %att.notated.attribute.notation;'> 
<!ENTITY % att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>
<!ENTITY % att.typed.attributes '
 %att.typed.attribute.type;'> 
<!ENTITY % att.pointing.attribute.targetLang '
targetLang %teidata.language;  #IMPLIED'>

<!ENTITY % att.pointing.attribute.target '
target CDATA  #IMPLIED'>
<!ENTITY % att.pointing.attributes '
 %att.pointing.attribute.targetLang;
 %att.pointing.attribute.target;'> 
<!ENTITY % att.sortable.attribute.sortKey '
sortKey %teidata.word;  #IMPLIED'>
<!ENTITY % att.sortable.attributes '
 %att.sortable.attribute.sortKey;'> 
<!ENTITY % att.tableDecoration.attribute.role '
role %teidata.enumerated;  "data" '>

<!ENTITY % att.tableDecoration.attribute.rows '
rows %teidata.count;  "1" '>

<!ENTITY % att.tableDecoration.attribute.cols '
cols %teidata.count;  "1" '>
<!ENTITY % att.tableDecoration.attributes '
 %att.tableDecoration.attribute.role;
 %att.tableDecoration.attribute.rows;
 %att.tableDecoration.attribute.cols;'> 
<!ENTITY % att.timed.attribute.start '
start %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.timed.attribute.end '
end %teidata.pointer;  #IMPLIED'>
<!ENTITY % att.timed.attributes '
 %att.timed.attribute.start;
 %att.timed.attribute.end;'> 
<!ENTITY % att.transcriptional.attribute.status '
status %teidata.enumerated;  "unremarkable" '>

<!ENTITY % att.transcriptional.attribute.cause '
cause %teidata.enumerated;  #IMPLIED'>

<!ENTITY % att.transcriptional.attribute.seq '
seq %teidata.count;  #IMPLIED'>
<!ENTITY % att.transcriptional.attributes '%att.written.attributes;
 %att.transcriptional.attribute.status;
 %att.transcriptional.attribute.cause;
 %att.transcriptional.attribute.seq;'> 
<!ENTITY % model.nameLike.agent "name"> 
<!ENTITY % model.nameLike.agent_sequence "name"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+"> 
<!ENTITY % model.segLike "seg"> 
<!ENTITY % model.segLike_sequence "seg"> 
<!ENTITY % model.segLike_sequenceOptional "seg?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "seg*"> 
<!ENTITY % model.segLike_sequenceRepeatable "seg+"> 
<!ENTITY % model.hiLike "hi |b |i |ul |sub |sup |smcap"> 
<!ENTITY % model.hiLike_sequence "hi, b, i, ul, sub, sup, smcap"> 
<!ENTITY % model.hiLike_sequenceOptional "hi?, b?, i?, ul?, sub?, sup?, smcap?"> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable "hi*, b*, i*, ul*, sub*, sup*, smcap*"> 
<!ENTITY % model.hiLike_sequenceRepeatable "hi+, b+, i+, ul+, sub+, sup+, smcap+"> 
<!ENTITY % model.emphLike "foreign |title"> 
<!ENTITY % model.emphLike_sequence "foreign, title"> 
<!ENTITY % model.emphLike_sequenceOptional "foreign?, title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "foreign*, title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "foreign+, title+"> 
<!ENTITY % model.highlighted "%model.hiLike; |%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.hiLike;, %model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.hiLike;?, %model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+"> 
<!ENTITY % model.dateLike "date |time"> 
<!ENTITY % model.dateLike_sequence "date, time"> 
<!ENTITY % model.dateLike_sequenceOptional "date?, time?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*, time*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+, time+"> 
<!ENTITY % model.measureLike "num"> 
<!ENTITY % model.measureLike_sequence "num"> 
<!ENTITY % model.measureLike_sequenceOptional "num?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "num*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "num+"> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike "graphic |formula"> 
<!ENTITY % model.graphicLike_sequence "graphic, formula"> 
<!ENTITY % model.graphicLike_sequenceOptional "graphic?, formula?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "graphic*, formula*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "graphic+, formula+"> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc ""> 
<!ENTITY % model.pPart.msdesc_sequence ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptional ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable ""> 
<!ENTITY % model.pPart.editorial "abbr"> 
<!ENTITY % model.pPart.editorial_sequence "abbr"> 
<!ENTITY % model.pPart.editorial_sequenceOptional "abbr?"> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable "abbr*"> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable "abbr+"> 
<!ENTITY % model.pPart.transcriptional "add |del |unclear |handShift"> 
<!ENTITY % model.pPart.transcriptional_sequence "add, del, unclear, handShift"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional "add?, del?, unclear?, handShift?"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable "add*, del*, unclear*, handShift*"> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable "add+, del+, unclear+, handShift+"> 
<!ENTITY % model.pPart.edit "%model.pPart.editorial; |%model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequence "%model.pPart.editorial;, %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequenceOptional "%model.pPart.editorial;?, %model.pPart.transcriptional;?"> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable "%model.pPart.editorial;*, %model.pPart.transcriptional;*"> 
<!ENTITY % model.pPart.edit_sequenceRepeatable "%model.pPart.editorial;+, %model.pPart.transcriptional;+"> 
<!ENTITY % model.ptrLike "ptr |ref"> 
<!ENTITY % model.ptrLike_sequence "ptr, ref"> 
<!ENTITY % model.ptrLike_sequenceOptional "ptr?, ref?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ptr*, ref*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ptr+, ref+"> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta ""> 
<!ENTITY % model.global.meta_sequence ""> 
<!ENTITY % model.global.meta_sequenceOptional ""> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.meta_sequenceRepeatable ""> 
<!ENTITY % model.milestoneLike "milestone |pb |lb |cb |colShift"> 
<!ENTITY % model.milestoneLike_sequence "milestone, pb, lb, cb, colShift"> 
<!ENTITY % model.milestoneLike_sequenceOptional "milestone?, pb?, lb?, cb?, colShift?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "milestone*, pb*, lb*, cb*, colShift*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "milestone+, pb+, lb+, cb+, colShift+"> 
<!ENTITY % model.gLike "g"> 
<!ENTITY % model.gLike_sequence "g"> 
<!ENTITY % model.gLike_sequenceOptional "g?"> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable "g*"> 
<!ENTITY % model.gLike_sequenceRepeatable "g+"> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl |listBibl"> 
<!ENTITY % model.biblLike_sequence "bibl, listBibl"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, listBibl?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, listBibl*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, listBibl+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "desc |label"> 
<!ENTITY % model.labelLike_sequence "desc, label"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?, label?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*, label*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+, label+"> 
<!ENTITY % model.listLike "list |table"> 
<!ENTITY % model.listLike_sequence "list, table"> 
<!ENTITY % model.listLike_sequenceOptional "list?, table?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*, table*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+, table+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike "l"> 
<!ENTITY % model.lLike_sequence "l"> 
<!ENTITY % model.lLike_sequenceOptional "l?"> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable "l*"> 
<!ENTITY % model.lLike_sequenceRepeatable "l+"> 
<!ENTITY % model.pLike "p |ab"> 
<!ENTITY % model.pLike_sequence "p, ab"> 
<!ENTITY % model.pLike_sequenceOptional "p?, ab?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*, ab*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+, ab+"> 
<!ENTITY % model.stageLike "stage"> 
<!ENTITY % model.stageLike_sequence "stage"> 
<!ENTITY % model.stageLike_sequenceOptional "stage?"> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable "stage*"> 
<!ENTITY % model.stageLike_sequenceRepeatable "stage+"> 
<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.global.edit "gap"> 
<!ENTITY % model.global.edit_sequence "gap"> 
<!ENTITY % model.global.edit_sequenceOptional "gap?"> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable "gap*"> 
<!ENTITY % model.global.edit_sequenceRepeatable "gap+"> 
<!ENTITY % model.divPart "%model.lLike; |%model.pLike; |lg |sp"> 
<!ENTITY % model.divPart_sequence "%model.lLike;, %model.pLike;, lg, sp"> 
<!ENTITY % model.divPart_sequenceOptional "%model.lLike;?, %model.pLike;?, lg?, sp?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.lLike;*, %model.pLike;*, lg*, sp*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.lLike;+, %model.pLike;+, lg+, sp+"> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.certLike ""> 
<!ENTITY % model.certLike_sequence ""> 
<!ENTITY % model.certLike_sequenceOptional ""> 
<!ENTITY % model.certLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.certLike_sequenceRepeatable ""> 
<!ENTITY % model.descLike "desc"> 
<!ENTITY % model.descLike_sequence "desc"> 
<!ENTITY % model.descLike_sequenceOptional "desc?"> 
<!ENTITY % model.descLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.descLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.quoteLike "cit"> 
<!ENTITY % model.quoteLike_sequence "cit"> 
<!ENTITY % model.quoteLike_sequenceOptional "cit?"> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable "cit*"> 
<!ENTITY % model.quoteLike_sequenceRepeatable "cit+"> 
<!ENTITY % model.qLike "%model.quoteLike; |q |floatingText"> 
<!ENTITY % model.qLike_sequence "%model.quoteLike;, q, floatingText"> 
<!ENTITY % model.qLike_sequenceOptional "%model.quoteLike;?, q?, floatingText?"> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable "%model.quoteLike;*, q*, floatingText*"> 
<!ENTITY % model.qLike_sequenceRepeatable "%model.quoteLike;+, q+, floatingText+"> 
<!ENTITY % model.respLike "author |editor |respStmt"> 
<!ENTITY % model.respLike_sequence "author, editor, respStmt"> 
<!ENTITY % model.respLike_sequenceOptional "author?, editor?, respStmt?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, editor*, respStmt*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, editor+, respStmt+"> 
<!ENTITY % model.divWrapper "byline |dateline |argument |epigraph |salute |docAuthor |docDate"> 
<!ENTITY % model.divWrapper_sequence "byline, dateline, argument, epigraph, salute, docAuthor, docDate"> 
<!ENTITY % model.divWrapper_sequenceOptional "byline?, dateline?, argument?, epigraph?, salute?, docAuthor?, docDate?"> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable "byline*, dateline*, argument*, epigraph*, salute*, docAuthor*, docDate*"> 
<!ENTITY % model.divWrapper_sequenceRepeatable "byline+, dateline+, argument+, epigraph+, salute+, docAuthor+, docDate+"> 
<!ENTITY % model.divTopPart "%model.headLike; |opener |signed"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;, opener, signed"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?, opener?, signed?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*, opener*, signed*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+, opener+, signed+"> 
<!ENTITY % model.divTop "%model.divWrapper; |%model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divWrapper;, %model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divWrapper;?, %model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divWrapper;+, %model.divTopPart;+"> 
<!ENTITY % model.frontPart.drama ""> 
<!ENTITY % model.frontPart.drama_sequence ""> 
<!ENTITY % model.frontPart.drama_sequenceOptional ""> 
<!ENTITY % model.frontPart.drama_sequenceOptionalRepeatable ""> 
<!ENTITY % model.frontPart.drama_sequenceRepeatable ""> 
<!ENTITY % model.pLike.front "head |byline |argument |epigraph |docTitle |titlePart |docAuthor |docEdition |docImprint |docDate"> 
<!ENTITY % model.pLike.front_sequence "head, byline, argument, epigraph, docTitle, titlePart, docAuthor, docEdition, docImprint, docDate"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?, byline?, argument?, epigraph?, docTitle?, titlePart?, docAuthor?, docEdition?, docImprint?, docDate?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*, byline*, argument*, epigraph*, docTitle*, titlePart*, docAuthor*, docEdition*, docImprint*, docDate*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+, byline+, argument+, epigraph+, docTitle+, titlePart+, docAuthor+, docEdition+, docImprint+, docDate+"> 
<!ENTITY % model.divBottomPart "trailer |closer |signed |postscript"> 
<!ENTITY % model.divBottomPart_sequence "trailer, closer, signed, postscript"> 
<!ENTITY % model.divBottomPart_sequenceOptional "trailer?, closer?, signed?, postscript?"> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable "trailer*, closer*, signed*, postscript*"> 
<!ENTITY % model.divBottomPart_sequenceRepeatable "trailer+, closer+, signed+, postscript+"> 
<!ENTITY % model.divBottom "%model.divWrapper; |%model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequence "%model.divWrapper;, %model.divBottomPart;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divWrapper;?, %model.divBottomPart;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divBottomPart;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divWrapper;+, %model.divBottomPart;+"> 
<!ENTITY % model.titlepagePart "graphic |byline |argument |epigraph |docTitle |titlePart |docAuthor |docEdition |docImprint |docDate |ornament"> 
<!ENTITY % model.titlepagePart_sequence "graphic, byline, argument, epigraph, docTitle, titlePart, docAuthor, docEdition, docImprint, docDate, ornament"> 
<!ENTITY % model.titlepagePart_sequenceOptional "graphic?, byline?, argument?, epigraph?, docTitle?, titlePart?, docAuthor?, docEdition?, docImprint?, docDate?, ornament?"> 
<!ENTITY % model.titlepagePart_sequenceOptionalRepeatable "graphic*, byline*, argument*, epigraph*, docTitle*, titlePart*, docAuthor*, docEdition*, docImprint*, docDate*, ornament*"> 
<!ENTITY % model.titlepagePart_sequenceRepeatable "graphic+, byline+, argument+, epigraph+, docTitle+, titlePart+, docAuthor+, docEdition+, docImprint+, docDate+, ornament+"> 
<!ENTITY % model.imprintPart "publisher |pubPlace"> 
<!ENTITY % model.imprintPart_sequence "publisher, pubPlace"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, pubPlace?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, pubPlace*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, pubPlace+"> 
<!ENTITY % model.addressLike "email |address"> 
<!ENTITY % model.addressLike_sequence "email, address"> 
<!ENTITY % model.addressLike_sequenceOptional "email?, address?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "email*, address*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "email+, address+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+"> 
<!ENTITY % model.global "%model.milestoneLike; |%model.noteLike; |%model.global.edit; |figure"> 
<!ENTITY % model.global_sequence "%model.milestoneLike;, %model.noteLike;, %model.global.edit;, figure"> 
<!ENTITY % model.global_sequenceOptional "%model.milestoneLike;?, %model.noteLike;?, %model.global.edit;?, figure?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.milestoneLike;*, %model.noteLike;*, %model.global.edit;*, figure*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.milestoneLike;+, %model.noteLike;+, %model.global.edit;+, figure+"> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |bibl"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, bibl"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, bibl?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, bibl*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, bibl+"> 
<!ENTITY % model.frontPart "listBibl |titlePage"> 
<!ENTITY % model.frontPart_sequence "listBibl, titlePage"> 
<!ENTITY % model.frontPart_sequenceOptional "listBibl?, titlePage?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "listBibl*, titlePage*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "listBibl+, titlePage+"> 
<!ENTITY % model.addrPart "%model.nameLike; |addrLine"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, addrLine"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, addrLine?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, addrLine*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, addrLine+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |%model.measureLike; |%model.addressLike; |%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |%model.labelLike; |%model.listLike; |%model.stageLike; |%model.qLike; |ornament"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.labelLike;, %model.listLike;, %model.stageLike;, %model.qLike;, ornament"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.labelLike;?, %model.listLike;?, %model.stageLike;?, %model.qLike;?, ornament?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.labelLike;*, %model.listLike;*, %model.stageLike;*, %model.qLike;*, ornament*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.labelLike;+, %model.listLike;+, %model.stageLike;+, %model.qLike;+, ornament+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.segLike; |%model.highlighted; |%model.graphicLike; |%model.pPart.edit; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.graphicLike;, %model.pPart.edit;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.graphicLike;?, %model.pPart.edit;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.graphicLike;*, %model.pPart.edit;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.graphicLike;+, %model.pPart.edit;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.hiLike; |%model.emphLike; |%model.pPart.editorial; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.hiLike;, %model.emphLike;, %model.pPart.editorial;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.hiLike;?, %model.emphLike;?, %model.pPart.editorial;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*, %model.pPart.editorial;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+, %model.pPart.editorial;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike ""> 
<!ENTITY % model.divLike_sequence ""> 
<!ENTITY % model.divLike_sequenceOptional ""> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divLike_sequenceRepeatable ""> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like "div1"> 
<!ENTITY % model.div1Like_sequence "div1"> 
<!ENTITY % model.div1Like_sequenceOptional "div1?"> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable "div1*"> 
<!ENTITY % model.div1Like_sequenceRepeatable "div1+"> 
<!ENTITY % model.div2Like "div2"> 
<!ENTITY % model.div2Like_sequence "div2"> 
<!ENTITY % model.div2Like_sequenceOptional "div2?"> 
<!ENTITY % model.div2Like_sequenceOptionalRepeatable "div2*"> 
<!ENTITY % model.div2Like_sequenceRepeatable "div2+"> 
<!ENTITY % model.div3Like "div3"> 
<!ENTITY % model.div3Like_sequence "div3"> 
<!ENTITY % model.div3Like_sequenceOptional "div3?"> 
<!ENTITY % model.div3Like_sequenceOptionalRepeatable "div3*"> 
<!ENTITY % model.div3Like_sequenceRepeatable "div3+"> 
<!ENTITY % model.div4Like "div4"> 
<!ENTITY % model.div4Like_sequence "div4"> 
<!ENTITY % model.div4Like_sequenceOptional "div4?"> 
<!ENTITY % model.div4Like_sequenceOptionalRepeatable "div4*"> 
<!ENTITY % model.div4Like_sequenceRepeatable "div4+"> 
<!ENTITY % model.div5Like "div5"> 
<!ENTITY % model.div5Like_sequence "div5"> 
<!ENTITY % model.div5Like_sequenceOptional "div5?"> 
<!ENTITY % model.div5Like_sequenceOptionalRepeatable "div5*"> 
<!ENTITY % model.div5Like_sequenceRepeatable "div5+"> 
<!ENTITY % model.div6Like "div6"> 
<!ENTITY % model.div6Like_sequence "div6"> 
<!ENTITY % model.div6Like_sequenceOptional "div6?"> 
<!ENTITY % model.div6Like_sequenceOptionalRepeatable "div6*"> 
<!ENTITY % model.div6Like_sequenceRepeatable "div6+"> 
<!ENTITY % model.div7Like "div7"> 
<!ENTITY % model.div7Like_sequence "div7"> 
<!ENTITY % model.div7Like_sequenceOptional "div7?"> 
<!ENTITY % model.div7Like_sequenceOptionalRepeatable "div7*"> 
<!ENTITY % model.div7Like_sequenceRepeatable "div7+"> 
<!ENTITY % att.personal.attribute.full '
full (yes|abb|init) "yes" '>

<!ENTITY % att.personal.attribute.sort '
sort %teidata.count;  #IMPLIED'>
<!ENTITY % att.personal.attributes '
 %att.personal.attribute.full;
 %att.personal.attribute.sort;'> 
<!ENTITY % att.milestoneUnit.attribute.unit '
unit %teidata.enumerated;  #REQUIRED'>
<!ENTITY % att.milestoneUnit.attributes '
 %att.milestoneUnit.attribute.unit;'> 
<!ENTITY % att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % att.global.linking.attributes '
 %att.global.linking.attribute.corresp;
 %att.global.linking.attribute.synch;
 %att.global.linking.attribute.sameAs;
 %att.global.linking.attribute.copyOf;
 %att.global.linking.attribute.next;
 %att.global.linking.attribute.prev;
 %att.global.linking.attribute.exclude;
 %att.global.linking.attribute.select;'> 
<!ENTITY % att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>
<!ENTITY % att.global.facs.attributes '
 %att.global.facs.attribute.facs;'> 
<!ENTITY % att.global.change.attribute.change '
change CDATA  #IMPLIED'>
<!ENTITY % att.global.change.attributes '
 %att.global.change.attribute.change;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|%model.gLike;|%model.phrase;|%model.inter;|%model.global;|lg|%model.lLike;)*' >

<!ENTITY % macro.limitedContent '(#PCDATA|%model.limitedPhrase;|%model.inter;)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|%model.gLike;|%model.phrase;|%model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|%model.global;)*' >

<!ENTITY % macro.specialPara '(#PCDATA|%model.gLike;|%model.phrase;|%model.inter;|%model.divPart;|%model.global;)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph. [16.3. Blocks, Segments, and Anchors] -->
<!ELEMENT ab %macro.paraContent;>
<!ATTLIST ab xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(abbreviation) contains an abbreviation of any sort. [3.5.5. Abbreviations and Their Expansions] -->
<!ELEMENT abbr %macro.phraseSeq;>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST abbr
 %att.global.attributes; >
<!--doc:(addition) contains letters, words, or phrases inserted in the source text by an author, scribe, or a previous annotator or corrector. [3.4.3. Additions, Deletions, and Omissions] -->
<!ELEMENT add %macro.paraContent;>
<!ATTLIST add xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST add
 %att.global.attributes;
 %att.transcriptional.attributes;
 %att.typed.attributes; >
<!--doc:(address line) contains one line of a postal address. [3.5.2. Addresses 2.2.4. Publication, Distribution, Licensing, etc. 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT addrLine %macro.phraseSeq;>
<!ATTLIST addrLine xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST addrLine
 %att.global.attributes; >
<!--doc:contains a postal address, for example of a publisher, an organization, or an individual. [3.5.2. Addresses 2.2.4. Publication, Distribution, Licensing, etc. 3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT address (((%model.global;)*,((%model.addrPart;),(%model.global;)*)+))>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST address
 %att.global.attributes; >
<!--doc:contains a formal list or prose description of the topics addressed by a subdivision of a text. [4.2. Elements Common to All Divisions 4.6. Title Pages] -->
<!ELEMENT argument (((%model.global;|%model.headLike;)*,((%model.common;),(%model.global;)*)+))>
<!ATTLIST argument xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST argument
 %att.global.attributes; >
<!--doc:in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement] -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %att.global.attributes; >
<!--doc:(bold) for capturing typographical feature: bold glyphs. -->
<!ELEMENT b %macro.paraContent;>
<!ATTLIST b xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST b
 %att.global.attributes; >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. [4.7. Back Matter 4. Default Text Structure] -->
<!ELEMENT back (((%model.frontPart;|%model.pLike.front;|%model.pLike;|%model.listLike;|%model.global;)*,(((%model.div1Like;),(%model.frontPart;|%model.div1Like;|%model.global;)*)|((_DUMMY_model.divLike),(%model.frontPart;|_DUMMY_model.divLike|%model.global;)*))?,((%model.divBottomPart;),(%model.divBottomPart;|%model.global;)*)?))>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %att.global.attributes; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT bibl (#PCDATA|%model.gLike;|%model.highlighted;|%model.pPart.data;|%model.pPart.edit;|%model.segLike;|%model.ptrLike;|%model.biblPart;|%model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes;
 %att.sortable.attributes;
 %att.docStatus.attributes; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure] -->
<!ELEMENT body (((%model.global;)*,((%model.divTop;),(%model.global;|%model.divTop;)*)?,((_DUMMY_model.divGenLike),(%model.global;|_DUMMY_model.divGenLike)*)?,(((_DUMMY_model.divLike),(%model.global;|_DUMMY_model.divGenLike)*)+|((%model.div1Like;),(%model.global;|_DUMMY_model.divGenLike)*)+|(((%model.common;),(%model.global;)*)+,(((_DUMMY_model.divLike),(%model.global;|_DUMMY_model.divGenLike)*)+|((%model.div1Like;),(%model.global;|_DUMMY_model.divGenLike)*)+)?)),((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attributes; >
<!--doc:contains the primary statement of responsibility given for a work on its title page or at the head or end of the work. [4.2.2. Openers and Closers 4.5. Front Matter] -->
<!ELEMENT byline (#PCDATA|%model.gLike;|%model.phrase;|docAuthor|%model.global;)*>
<!ATTLIST byline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST byline
 %att.global.attributes; >
<!--doc:(column beginning) marks the beginning of a new column of a text on a multi-column page. [3.10.3. Milestone
Elements] -->
<!ELEMENT cb  EMPTY>
<!ATTLIST cb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cb
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:contains one cell of a table. [14.1.1. TEI Tables] -->
<!ELEMENT cell %macro.specialPara;>
<!ATTLIST cell xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cell
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:(cited quotation) contains a quotation from some other document, together with a bibliographic reference to its source. In a dictionary it may contain an example text with at least one occurrence of the word form, used in the sense being described, or a translation of the headword, or an example. [3.3.3. Quotation 4.3.1. Grouped Texts 9.3.5.1. Examples] -->
<!ELEMENT cit (%model.qLike;|_DUMMY_model.egLike|%model.biblLike;|%model.ptrLike;|%model.global;|_DUMMY_model.entryPart)+>
<!ATTLIST cit xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:groups together salutations, datelines, and similar phrases appearing as a final group at the end of a division, especially of a letter. [4.2.2. Openers and Closers 4.2. Elements Common to All Divisions] -->
<!ELEMENT closer (#PCDATA|%model.gLike;|signed|dateline|salute|%model.phrase;|%model.global;)*>
<!ATTLIST closer xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST closer
 %att.global.attributes;
 %att.written.attributes; >
<!--doc:(column shift) with the cols attribute is used to mark where a document changes columnar layout. -->
<!ELEMENT colShift EMPTY>
<!ATTLIST colShift xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST colShift
 %att.global.attributes;
ed %teidata.word;  #IMPLIED
cols %teidata.count;  #IMPLIED >
<!--doc:contains a date in any format. [3.5.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.6. Dates and Times] -->
<!ELEMENT date (#PCDATA|%model.gLike;|%model.phrase;|%model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %att.global.attributes;
 %att.datable.w3c.attribute.when;
 %att.datable.w3c.attribute.from;
 %att.datable.w3c.attribute.to;
 %att.typed.attributes; >
<!--doc:contains a brief description of the place, date, time, etc. of production of a letter, newspaper story, or other work, prefixed or suffixed to it as a kind of heading or trailer. [4.2.2. Openers and Closers] -->
<!ELEMENT dateline (#PCDATA|%model.gLike;|%model.phrase;|%model.global;|docDate)*>
<!ATTLIST dateline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST dateline
 %att.global.attributes; >
<!--doc:(deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as superfluous or spurious in the copy text by an author, scribe, or a previous annotator or corrector. [3.4.3. Additions, Deletions, and Omissions] -->
<!ELEMENT del %macro.paraContent;>
<!ATTLIST del xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST del
 %att.global.attributes;
 %att.transcriptional.attributes;
 %att.typed.attributes; >
<!--doc:(description) contains a brief description of the object documented by its parent element, typically a documentation element or an entity. [22.4.1. Description of Components] -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(level-1 text division) contains a first-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions] -->
<!ELEMENT div1 (((%model.divTop;|%model.global;)*,((((%model.div2Like;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div2Like;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST div1 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div1
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(level-2 text division) contains a second-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions] -->
<!ELEMENT div2 (((%model.divTop;|%model.global;)*,((((%model.div3Like;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div3Like;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST div2 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div2
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(level-3 text division) contains a third-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions] -->
<!ELEMENT div3 (((%model.divTop;|%model.global;)*,((((%model.div4Like;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div4Like;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST div3 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div3
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(level-4 text division) contains a fourth-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions] -->
<!ELEMENT div4 (((%model.divTop;|%model.global;)*,((((%model.div5Like;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div5Like;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST div4 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div4
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(level-5 text division) contains a fifth-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions] -->
<!ELEMENT div5 (((%model.divTop;|%model.global;)*,((((%model.div6Like;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div6Like;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST div5 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div5
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(level-6 text division) contains a sixth-level subdivision of the front, body, or back of a text. [4.1.2. Numbered Divisions] -->
<!ELEMENT div6 (((%model.divTop;|%model.global;)*,((((%model.div7Like;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div7Like;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST div6 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div6
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(level-7 text division) contains the smallest possible subdivision of the front, body or back of a text, larger than a paragraph. [4.1.2. Numbered Divisions] -->
<!ELEMENT div7 (((%model.divTop;|%model.global;)*,(((%model.common;),(%model.global;)*)+,((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST div7 xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div7
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(document author) contains the name of the author of the document, as given on the title page (often but not always contained in a byline). [4.6. Title Pages] -->
<!ELEMENT docAuthor %macro.phraseSeq;>
<!ATTLIST docAuthor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docAuthor
 %att.global.attributes; >
<!--doc:(document date) contains the date of a document, as given on a title page or in a dateline. [4.6. Title Pages] -->
<!ELEMENT docDate %macro.phraseSeq;>
<!ATTLIST docDate xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docDate
 %att.global.attributes;
when %teidata.temporal.w3c;  #IMPLIED >
<!--doc:(document edition) contains an edition statement as presented on a title page of a document. [4.6. Title Pages] -->
<!ELEMENT docEdition %macro.paraContent;>
<!ATTLIST docEdition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docEdition
 %att.global.attributes; >
<!--doc:(document imprint) contains the imprint statement (place and date of publication, publisher name), as given (usually) at the foot of a title page. [4.6. Title Pages] -->
<!ELEMENT docImprint (#PCDATA|%model.gLike;|%model.phrase;|pubPlace|docDate|publisher|%model.global;)*>
<!ATTLIST docImprint xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docImprint
 %att.global.attributes; >
<!--doc:(document title) contains the title of a document, including all its constituents, as given on a title page. [4.6. Title Pages] -->
<!ELEMENT docTitle (((%model.global;)*,(titlePart,(%model.global;)*)+))>
<!ATTLIST docTitle xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docTitle
 %att.global.attributes; >
<!--doc:contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [3.11.2.2. Titles, Authors, and Editors] -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editor
 %att.global.attributes; >
<!--doc:(electronic mail address) contains an email address identifying a location to which email messages can be delivered. [3.5.2. Addresses] -->
<!ELEMENT email %macro.phraseSeq;>
<!ATTLIST email xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST email
 %att.global.attributes; >
<!--doc:contains a quotation, anonymous or attributed, appearing at the start or end of a section or on a title page. [4.2.3. Arguments, Epigraphs, and Postscripts 4.2. Elements Common to All Divisions 4.6. Title Pages] -->
<!ELEMENT epigraph (%model.common;|%model.global;)*>
<!ATTLIST epigraph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST epigraph
 %att.global.attributes; >
<!--doc:groups elements representing or containing graphic information such as an illustration, formula, or figure. [14.4. Specific Elements for Graphic Images] -->
<!ELEMENT figure (%model.headLike;|%model.common;|figDesc|%model.graphicLike;|%model.global;|%model.divBottom;)*>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figure
 %att.global.attributes;
 %att.typed.attributes;
 %att.written.attributes; >
<!--doc:contains a single text of any kind, whether unitary or composite, which interrupts the text containing it at any point and after which the surrounding text resumes. [4.3.2. Floating Texts] -->
<!ELEMENT floatingText (((%model.global;)*,(front,(%model.global;)*)?,(body|group),(%model.global;)*,(back,(%model.global;)*)?))>
<!ATTLIST floatingText xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST floatingText
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:identifies a word or phrase as belonging to some language other than that of the surrounding text. [3.3.2.1. Foreign Words or Expressions] -->
<!ELEMENT foreign %macro.phraseSeq;>
<!ATTLIST foreign xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST foreign
 %att.global.attributes; >
<!--doc:contains a mathematical or other formula. [14.2. Formulæ and Mathematical Expressions] -->
<!ELEMENT formula (#PCDATA|%model.graphicLike;|%model.hiLike;)*>
<!ATTLIST formula xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST formula
 %att.global.attributes; >
<!--doc:(front matter) contains any prefatory matter (headers, abstracts, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6. Title Pages 4. Default Text Structure] -->
<!ELEMENT front (((%model.frontPart;|%model.pLike;|%model.pLike.front;|%model.global;)*,((((%model.div1Like;),(%model.div1Like;|%model.frontPart;|%model.global;)*)|((_DUMMY_model.divLike),(_DUMMY_model.divLike|%model.frontPart;|%model.global;)*)),((%model.divBottom;),(%model.divBottom;|%model.global;)*)?)?))>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %att.global.attributes; >
<!--doc:(character or glyph) represents a glyph, or a non-standard character. [5. Characters, Glyphs, and Writing Modes] -->
<!ELEMENT g (#PCDATA)>
<!ATTLIST g xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST g
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:indicates a point where material has been omitted in a transcription, whether for editorial reasons described in the TEI header, as part of sampling practice, or because the material is illegible, invisible, or inaudible. [3.4.3. Additions, Deletions, and Omissions] -->
<!ELEMENT gap (%model.descLike;|_DUMMY_model.certLike)*>
<!ATTLIST gap xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gap
 %att.global.attributes;
 %att.timed.attributes;
reason NMTOKENS  #IMPLIED >
<!--doc:indicates the location of a graphic or illustration, either forming part of a text, or providing an image of it. [3.9. Graphics and Other Non-textual Components 11.1. Digital Facsimiles] -->
<!ELEMENT graphic (%model.descLike;)*>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST graphic
 %att.global.attributes;
 %att.resourced.attributes; >
<!--doc:contains the body of a composite text, grouping together a sequence of distinct texts (or groups of such texts) which are regarded as a unit for some purpose, for example the collected works of an author, a sequence of prose essays, etc. [4. Default Text Structure 4.3.1. Grouped Texts 15.1. Varieties of Composite Text] -->
<!ELEMENT group (((%model.divTop;|%model.global;)*,((text|group),(text|group|%model.global;)*),(%model.divBottom;)*))>
<!ATTLIST group xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST group
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:marks the beginning of a sequence of text written in a new hand, or the beginning of a scribal stint. [11.3.2.1. Document Hands] -->
<!ELEMENT handShift  EMPTY>
<!ATTLIST handShift xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST handShift
 %att.global.attributes;
new %teidata.pointer;  #IMPLIED >
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers] -->
<!ELEMENT head (#PCDATA|lg|%model.gLike;|%model.phrase;|%model.inter;|%model.lLike;|%model.global;)*>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %att.global.attributes;
 %att.typed.attributes;
 %att.written.attributes; >
<!--doc:(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [3.3.2.2. Emphatic Words and Phrases 3.3.2. Emphasis, Foreign Words, and Unusual Language] -->
<!ELEMENT hi %macro.paraContent;>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hi
 %att.global.attributes;
 %att.written.attributes; >
<!--doc:(italics) for capturing typographical feature: italicized glyphs. -->
<!ELEMENT i %macro.paraContent;>
<!ATTLIST i xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST i
 %att.global.attributes; >
<!--doc:contains one component of a list. [3.7. Lists 2.6. The Revision Description] -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %att.global.attributes;
 %att.sortable.attributes; >
<!--doc:(verse line) contains a single, possibly incomplete, line of verse. [3.12.1. Core Tags for Verse 3.12. Passages of Verse or Drama 7.2.5. Speech Contents] -->
<!ELEMENT l (#PCDATA|%model.gLike;|%model.phrase;|%model.inter;|%model.global;)*>
<!ATTLIST l xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST l
 %att.global.attributes; >
<!--doc:contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.7. Lists] -->
<!ELEMENT label %macro.phraseSeq;>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST label
 %att.global.attributes;
 %att.typed.attributes;
 %att.written.attributes; >
<!--doc:(line beginning) marks the beginning of a new (typographic) line in some edition or version of a text. [3.10.3. Milestone
Elements 7.2.5. Speech Contents] -->
<!ELEMENT lb  EMPTY>
<!ATTLIST lb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lb
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(line group) contains one or more verse lines functioning as a formal unit, e.g. a stanza, refrain, verse paragraph, etc. [3.12.1. Core Tags for Verse 3.12. Passages of Verse or Drama 7.2.5. Speech Contents] -->
<!ELEMENT lg (((%model.divTop;|%model.global;)*,(%model.lLike;|%model.stageLike;|%model.labelLike;|lg),(%model.lLike;|%model.stageLike;|%model.labelLike;|%model.global;|lg)*,((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST lg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lg
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:contains any sequence of items organized as a list. [3.7. Lists] -->
<!ELEMENT list (((%model.divTop;|%model.global;)*,((item,(%model.global;)*)+|((headLabel)?,(headItem)?,(label,(%model.global;)*,item,(%model.global;)*)+)),((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
 %att.global.attributes;
 %att.sortable.attributes;
type %teidata.enumerated;  #IMPLIED >
<!--doc:(citation list) contains a list of bibliographic citations of any kind. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT listBibl (((%model.headLike;)*,(%model.biblLike;|%model.milestoneLike;)+,(relation|listRelation)*))>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listBibl
 %att.global.attributes;
 %att.sortable.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:marks a boundary point separating any kind of section of a text, typically but not necessarily indicating a point at which some part of a standard reference system changes, where the change is not represented by a structural element. [3.10.3. Milestone
Elements] -->
<!ELEMENT milestone  EMPTY>
<!ATTLIST milestone xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST milestone
 %att.global.attributes;
 %att.milestoneUnit.attributes;
 %att.typed.attributes; >
<!--doc:(name, proper noun) contains a proper noun or noun phrase. [3.5.1. Referring Strings] -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %att.global.attributes;
 %att.personal.attributes;
 %att.datable.attributes;
 %att.typed.attributes; >
<!--doc:contains a note or annotation. [3.8.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.11.2.8. Notes and Statement of Language 9.3.5.4. Notes within Entries] -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.written.attributes; >
<!--doc:(number) contains a number, written in any form. [3.5.3. Numbers and
Measures] -->
<!ELEMENT num %macro.phraseSeq;>
<!ATTLIST num xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST num
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED >
<!--doc:groups together dateline, byline, salutation, and similar phrases appearing as a preliminary group at the start of a division, especially of a letter. [4.2. Elements Common to All Divisions] -->
<!ELEMENT opener (#PCDATA|%model.gLike;|%model.phrase;|argument|byline|dateline|epigraph|salute|signed|%model.global;)*>
<!ATTLIST opener xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST opener
 %att.global.attributes;
 %att.written.attributes; >
<!--doc:for capturing typographical feature: printer's ornament, horizontal line, strings of asterisks or periods, etc, indicating an informal division that does not call for a new div element. If a horizontal rule or printer's ornament, use appropriate rend attribute and leave the element empy; if the ornament can be represented with characters, include these in the element. -->
<!ELEMENT ornament  (#PCDATA)>
<!ATTLIST ornament xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST ornament
 %att.global.attributes; >
<!--doc:(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attributes;
 %att.fragmentable.attributes;
 %att.written.attributes; >
<!--doc:(page beginning) marks the beginning of a new page in a paginated document. [3.10.3. Milestone
Elements] -->
<!ELEMENT pb  EMPTY>
<!ATTLIST pb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pb
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:contains a postscript, e.g. to a letter. [4.2. Elements Common to All Divisions] -->
<!ELEMENT postscript (((%model.global;|%model.divTopPart;)*,(%model.common;),(%model.global;|%model.common;)*,((%model.divBottomPart;),(%model.global;)*)*))>
<!ATTLIST postscript xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postscript
 %att.global.attributes;
 %att.written.attributes; >
<!--doc:(pointer) defines a pointer to another location. [3.6. Simple Links and Cross-References 16.1. Links] -->
<!ELEMENT ptr  EMPTY>
<!ATTLIST ptr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ptr
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes; >
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. [3.11.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %att.global.attributes; >
<!--doc:provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.11.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %att.global.attributes; >
<!--doc:(quoted) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. [3.3.3. Quotation] -->
<!ELEMENT q %macro.specialPara;>
<!ATTLIST q xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST q
 %att.global.attributes;
 %att.ascribed.directed.attributes;
type %teidata.enumerated;  #IMPLIED >
<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. [3.6. Simple Links and Cross-References 16.1. Links] -->
<!ELEMENT ref %macro.paraContent;>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ref
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes; >
<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %att.global.attributes;
 %att.datable.attributes; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT respStmt (((((resp)+,(%model.nameLike.agent;)+)|((%model.nameLike.agent;)+,(resp)+)),(note)*))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %att.global.attributes; >
<!--doc:contains one row of a table. [14.1.1. TEI Tables] -->
<!ELEMENT row (cell)+>
<!ATTLIST row xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST row
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:(salutation) contains a salutation or greeting prefixed to a foreword, dedicatory epistle, or other division of a text, or the salutation in the closing of a letter, preface, etc. [4.2.2. Openers and Closers] -->
<!ELEMENT salute %macro.paraContent;>
<!ATTLIST salute xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST salute
 %att.global.attributes;
 %att.written.attributes; >
<!--doc:(arbitrary segment) represents any segmentation of text below the chunk level. [16.3. Blocks, Segments, and Anchors 6.2. Components of the Verse Line 7.2.5. Speech Contents] -->
<!ELEMENT seg %macro.paraContent;>
<!ATTLIST seg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seg
 %att.global.attributes;
 %att.typed.attributes;
 %att.written.attributes;
 %att.notated.attributes; >
<!--doc:(signature) contains the closing salutation, etc., appended to a foreword, dedicatory epistle, or other division of a text. [4.2.2. Openers and Closers] -->
<!ELEMENT signed %macro.paraContent;>
<!ATTLIST signed xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST signed
 %att.global.attributes;
 %att.written.attributes; >
<!--doc:(smallcaps) for capturing typographical feature: glyphs in small capitals. -->
<!ELEMENT smcap %macro.paraContent;>
<!ATTLIST smcap xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST smcap
 %att.global.attributes; >
<!--doc:(speech) contains an individual speech in a performance text, or a passage presented as such in a prose or verse text. [3.12.2. Core Tags for Drama 3.12. Passages of Verse or Drama 7.2.2. Speeches and Speakers] -->
<!ELEMENT sp (((%model.global;)*,(speaker,(%model.global;)*)?,((lg|%model.lLike;|%model.pLike;|%model.listLike;|%model.stageLike;|%model.qLike;),(%model.global;)*)+))>
<!ATTLIST sp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sp
 %att.global.attributes;
 %att.ascribed.directed.attributes; >
<!--doc:contains a specialized form of heading or label, giving the name of one or more speakers in a dramatic text or fragment. [3.12.2. Core Tags for Drama] -->
<!ELEMENT speaker %macro.phraseSeq;>
<!ATTLIST speaker xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST speaker
 %att.global.attributes; >
<!--doc:(stage direction) contains any kind of stage direction within a dramatic text or fragment. [3.12.2. Core Tags for Drama 3.12. Passages of Verse or Drama 7.2.4. Stage Directions] -->
<!ELEMENT stage %macro.specialPara;>
<!ATTLIST stage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST stage
 %att.ascribed.directed.attributes;
 %att.global.attributes; >
<!--doc:(subscript) for capturing typographical feature: subscript glyphs. -->
<!ELEMENT sub %macro.paraContent;>
<!ATTLIST sub xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST sub
 %att.global.attributes; >
<!--doc:(superscript) for capturing typographical feature: superscript glyphs. -->
<!ELEMENT sup %macro.paraContent;>
<!ATTLIST sup xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST sup
 %att.global.attributes; >
<!--doc:contains text displayed in tabular form, in rows and columns. [14.1.1. TEI Tables] -->
<!ELEMENT table (((%model.headLike;|%model.global;)*,((row,(%model.global;)*)+|((%model.graphicLike;),(%model.global;)*)+),((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST table xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST table
 %att.global.attributes;
 %att.typed.attributes;
rows %teidata.count;  #IMPLIED
cols %teidata.count;  #IMPLIED >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT text (((%model.global;)*,(front,(%model.global;)*)?,(body|group),(%model.global;)*,(back,(%model.global;)*)?))>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attributes;
 %att.typed.attributes;
 %att.written.attributes; >
<!--doc:contains a phrase defining a time of day in any format. [3.5.4. Dates and Times] -->
<!ELEMENT time (#PCDATA|%model.gLike;|%model.phrase;|%model.global;)*>
<!ATTLIST time xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST time
 %att.global.attributes;
 %att.datable.attribute.calendar;
 %att.datable.w3c.attribute.when;
 %att.typed.attributes; >
<!--doc:contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %att.global.attributes;
 %att.datable.attributes;
type %teidata.enumerated;  #IMPLIED
level (a|m|j|s|u) #IMPLIED >
<!--doc:(title page) contains the title page of a text, appearing within the front or back matter. [4.6. Title Pages] -->
<!ELEMENT titlePage (((%model.global;)*,(%model.titlepagePart;),(%model.titlepagePart;|%model.global;)*))>
<!ATTLIST titlePage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePage
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED >
<!--doc:contains a subsection or division of the title of a work, as indicated on a title page. [4.6. Title Pages] -->
<!ELEMENT titlePart %macro.paraContent;>
<!ATTLIST titlePart xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePart
 %att.global.attributes;
type %teidata.enumerated;  "main"  >
<!--doc:contains a closing title or footer appearing at the end of a division of a text. [4.2.4. Content of Textual Divisions 4.2. Elements Common to All Divisions] -->
<!ELEMENT trailer (#PCDATA|lg|%model.gLike;|%model.phrase;|%model.inter;|%model.lLike;|%model.global;)*>
<!ATTLIST trailer xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST trailer
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(underline) for capturing typographical feature: underlined glyphs. -->
<!ELEMENT ul %macro.paraContent;>
<!ATTLIST ul xmlns CDATA "http://www.tei-c.org/ns/tite/1.0">
<!ATTLIST ul
 %att.global.attributes; >
<!--doc:contains a word, phrase, or passage which cannot be transcribed with certainty because it is illegible or inaudible in the source. [11.3.3.1. Damage, Illegibility, and Supplied Text 3.4.3. Additions, Deletions, and Omissions] -->
<!ELEMENT unclear %macro.paraContent;>
<!ATTLIST unclear xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST unclear
 %att.global.attributes;
reason NMTOKENS  #IMPLIED >
<!-- end elements -->
